<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="" method="post">

    <label >Username</label>
    <input type="text"  name="username"  placeholder="Username" >
    <label >Password</label>
    <input type="password" name="password" placeholder="Password" >
    <br> <br>
    <div>
        <label>
            <input type="checkbox" value="remember-me"/> Remember Me
        </label>
    </div>
    <br>
    <button  type="submit">Sign in</button>
    <br> <br>
    <a>中文</a>
    <a>English</a>
</form>
</body>
</html>
